In [18]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
csv_file = "../ETLproject/resources/states.csv"
states_df = pd.read_csv(csv_file)
states_df.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [20]:
new_states_df = states_df[['Abbreviation']].copy()
new_states_df.head()

  Abbreviation
0           AL
1           AK
2           AZ
3           AR
4           CA

In [21]:
csv_file = "../ETLproject/resources/US Countiess.csv"
counties_df = pd.read_csv(csv_file)
counties_df.head()

   X1  X2  X3              X4  X5
0  AL   1   1  Autauga County  H1
1  AL   1   3  Baldwin County  H1
2  AL   1   5  Barbour County  H1
3  AL   1   7     Bibb County  H1
4  AL   1   9   Blount County  H1

In [22]:
new_counties_df = counties_df[['X1', 'X3', 'X4']].copy()
new_counties_df.head()

   X1  X3              X4
0  AL   1  Autauga County
1  AL   3  Baldwin County
2  AL   5  Barbour County
3  AL   7     Bibb County
4  AL   9   Blount County

In [23]:
rds_connection_string = "<user>:<password>@127.0.0.1/us_info"
engine = create_engine(f'mysql://{rds_connection_string}')

In [24]:
engine.table_names()

['county_info', 'county_name', 'state_info', 'state_name']

In [25]:
new_states_df.to_sql(name='state_name', con=engine, if_exists='append', index=False)

In [26]:
new_counties_df.to_sql(name='county_name', con=engine, if_exists='append', index=False)